@inject DialogService DialogService
@inject NotificationService NotificationService
@inject HttpClient Http
@inject IUserSession userSession;

@using Shared.DTOs
@using TrainingApp.Client.Services

@if (!string.IsNullOrEmpty(UserDetails.Email))
{
    @if (!UserDetails.IsTrainer)
    {
        <h3>Zakazivanje termina za: @UserDetails.Name</h3>
        <br/>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
            <RadzenLabel Text="Trener" Style="width: 6rem;" />
            <RadzenDropDown @bind-Value="TrainerId"
            Data="@trainers"
            TextProperty="FullName"
            ValueProperty="Id"
            Change="@OnTrainerChanged"
            Placeholder="Izaberi trenera"
            Style="width: 14rem;" />
        </RadzenStack>
        <br />
    }
    else
    {
        <br />
        <div class="hrs-updt">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
            <RadzenLabel Text="Otkazni rok (sati): " Style="width: 6rem;" />
            <RadzenNumeric @bind-Value="CancellationNoticeInHours"
                            Style="width: 14rem;" />
        </RadzenStack>

                <RadzenButton Text="Potvrdi" ButtonType="ButtonType.Button" Click="@OnHoursChange" />

        </div>
        <br />
    }

    @if (TrainerId != 0 || UserDetails.IsTrainer)
    {
        <RadzenScheduler @ref="scheduler"
        SlotRender="@OnSlotRender"
        Style="height: 768px;"
        TItem="ScheduleRequestDTO"
        Data="@scheduleRequests"
        StartProperty="StartTime"
        EndProperty="EndTime"
        TextProperty="Type"
        SlotSelect="@OnSlotSelect"
        AppointmentSelect=@OnAppointmentSelect
        AppointmentMove=@OnAppointmentMove
        AppointmentRender="@OnAppointmentRender">

            <RadzenDayView />
            <RadzenWeekView />
        </RadzenScheduler>
    }
}
else
{
    <br />
    <h3>Mozete <RadzenLink Path="user-details" Text="OVDE"/> ostaviti vase podatke</h3>
}
